<%= form_with(model: internship, local: true) do |form| %>
  <% if internship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(internship.errors.count, "error") %> prohibited this internship from being saved:</h2>

      <ul>
      <% internship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :internship_title %>
  </div>

  <div class="field">
    <%= form.label :details %>
    <%= form.text_area :details, id: :internship_details %>
  </div>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.text_field :company_id, id: :internship_company_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, id: :internship_status %>
  </div>

  <div class="field">
    <%= form.label :averagemark %>
    <%= form.text_field :averagemark, id: :internship_averagemark %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
