<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @internship.title %>
</p>

<p>
  <strong>Details:</strong>
  <%= @internship.details %>
</p>

<p>
  <strong>Company:</strong>
  <%= @internship.company %>
</p>

<p>
  <strong>Status:</strong>
  <%= @internship.status %>
</p>

<p>
  <strong>Averagemark:</strong>
  <%= @internship.averagemark %>
</p>

<%= link_to 'Edit', edit_internship_path(@internship) %> |
<%= link_to 'Back', internships_path %>
